{% extends "users/base.html" %}

{% block title %}Videos tagged with "{{ tag.name }}"{% endblock %}

{% block content %}
<div class="container">
    <h2 class="section-title">Videos tagged with: "{{ tag.name }}"</h2>

    {% if videos %}
    <div class="video-grid">
        {% for video in videos %}
            {% include "videos/_video_card.html" with video=video show_uploader=True %}
        {% endfor %}
    </div>
    {% else %}
        <p class="empty-state">No videos found with this tag.</p>
    {% endif %}
    {% include "videos/_pagination.html" %}
</div>
{% endblock %}
